@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.animate-hover:hover {
  transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  text-decoration: none;
  opacity: 0.6;
}
